In [ ]:
%%sql
--- get value
select value_col:key_name from table_name;
--- explode
select explode(items) from table_name;
--- collect
select collect_set(items.id) from table_name group by key_name;

In [ ]:
%%sql